<div class="container mt-5">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="d-flex">
            <div class="form-group flex-grow-1">
                <label for="employeeId">Employee ID</label>
                <input value={{employee.employeeId}} type="number" id="employeeId" class="form-control" formControlName="employeeId" />
            </div>

            <div class="form-group flex-grow-1">
                <label for="firstName">First Name</label>
                <input value={{employee.firstName}} type="text" id="firstName" class="form-control" formControlName="firstName" />
            </div>

            <div class="form-group flex-grow-1">
                <label for="lastName">Last Name</label>
                <input value={{employee.lastName}} type="text" id="lastName" class="form-control" formControlName="lastName" />
            </div>
        </div>

        <div class="d-flex">
            <div class="form-group flex-grow-1">
                <label for="jobTitle">Job Title</label>
                <input type="text" id="jobTitle" class="form-control" formControlName="jobTitle" />
            </div>

            <div class="form-group flex-grow-1">
                <label for="managerId">Manager ID</label>
                <input type="number" id="managerId" class="form-control" formControlName="managerId" />
            </div>

            <div class="form-group flex-grow-1">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email" />
            </div>
        </div>

        <div class="d-flex ">
            <div class="form-group flex-grow-1/2">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber">
              </div>

              <div class="form-group flex-grow-1">
                <label for="employeeRoles">Employee Roles</label>
                <!-- <div formArrayName="employeeRoles">
                  <div *ngFor="let role of employeeForm.get('employeeRoles').controls; let i = index">
                    <input [formControlName]="i" class="form-control mb-2">
                  </div>
                </div> -->
              </div>
        </div>

        <div class="thin-line-bottom"></div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>