<div class="home-container d-flex flex-column">
    <h1 class="text-center">Welcome to Payroll Services Portal</h1>

    <div class="d-flex">
        <div class="info-container">
            <h2 class="text-center">About Us</h2>
            <div class="about-us">
              <p>UKG (Ultimate Kronos Group) is an American multinational technology company that provides human resource (HR) and workforce management services. UKG's cloud-based HCM (human capital management) solutions help organizations anticipate and adapt to their employees' needs, including HR, payroll, time, and culture. UKG's services include analytics to help leaders make decisions, actionable data to understand employee performance, and AI-backed insights to anticipate workforce needs.</p>
            </div>
            <div class="d-flex justify-content-between">
                <div class="contact-info ">
                    <h3 class="text-center office-heading">Noida Office</h3>
                    <div ><p><strong>Email:</strong></p> <p>indiainfonoida&#64;ukg.com</p> </div>
                    <div ><p><strong>Contact:</strong></p> <p>097177 79589</p> </div>
                    <div ><p><strong>Address:</strong></p> <p>Tower 4 B, Okaya Towers, 5, Sector 62, Noida, Uttar Pradesh 201301</p> </div>
                </div>
                <!-- <div style="background-color: black; width: 1px;"></div> -->
                <div class="contact-info">
                    <h3 class="text-center office-heading">Bangalore Office</h3>
                    <div class=""><p><strong>Email:</strong></p> <p>indiainfobangalore&#64;ukg.com</p> </div>
                    <div class=""><p><strong>Contact:</strong></p> <p>080 46809213 </p> </div>
                    <div class=""><p><strong>Address:</strong></p> <p>Tridib Level 2, Unit 1 Bagmane Tech Park C V Raman Nagar Bangalore 560093</p> </div>
                </div>
            </div>
            
          </div>
          <div class="main-container">
            <p class="login-prompt ">Please login to your account to access!</p>
            <a routerLink="/login" class="apply-button">Login</a>
          </div>
    </div>
    <div class="bg-img"></div>
  </div>
  